<div class="modal-overlay">
  <div class="modal-card">
    <div class="modal-header">
      <h2>{{ isEdit ? "Editar Gasto" : "Nuevo Gasto" }}</h2>
      <button class="close-btn" (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </div>

    <div class="modal-body">
      <input
        [(ngModel)]="title"
        placeholder="Nombre del gasto"
        type="text"
        class="input-field"
      />

      <input
        [(ngModel)]="total"
        placeholder="Total"
        type="number"
        min="0"
        step="0.01"
        class="input-field"
      />
    </div>

    <div class="modal-footer">
      <button class="btn-save" (click)="save()">
        {{ isEdit ? "Actualizar" : "Guardar" }}
      </button>
    </div>
  </div>
</div>
