<ion-app>
  @if (user$ | async; as user) {
    <ion-header class="app-header">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button
            autoHide="false"
            class="menu-button"
          ></ion-menu-button>
        </ion-buttons>
        <ion-title>BizumMe</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-split-pane contentId="main-content">
      <ion-menu contentId="main-content" type="overlay" class="app-menu">
        <ion-content>
          <div class="menu-card">
            <ion-note class="account-label">Cuenta</ion-note>
            <div class="account-email">{{ userEmail$ | async }}</div>

            <ion-button
              expand="block"
              fill="outline"
              color="medium"
              (click)="logout()"
            >
              Cerrar sesión
            </ion-button>
          </div>
        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
  } @else {
    <ion-router-outlet></ion-router-outlet>
  }
</ion-app>
